@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
  }
}