@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
  }
}

@layer components {
  .card-cliente {
    @apply bg-slate-950 text-white rounded-[3rem] shadow-2xl border-b-[12px] border-blue-600 p-10;
  }
  .btn-primary {
    @apply bg-blue-600 text-white font-black uppercase tracking-widest py-4 px-6 rounded-2xl hover:bg-blue-700 transition-all active:scale-95 shadow-lg shadow-blue-200;
  }
  .btn-dark {
    @apply bg-slate-900 text-white font-black uppercase tracking-widest py-4 px-6 rounded-2xl hover:bg-black transition-all active:scale-95;
  }
  .input-v {
    @apply w-full p-4 bg-slate-100 rounded-xl border-2 border-transparent focus:border-blue-600 focus:bg-white outline-none transition-all font-bold;
  }
}